html {
  font-size: 18px;

}
/**Header Section **/

.container {
  background-color: black;
}

#logo {
  max-width: 960px;
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
  margin: 0 auto;
}

#logo img {
  margin-left: 0.5rem;
  margin-right: 1rem;
  height:1.5rem;
  display: inline-block;
}

#logo p{
  display: inline-block;
  font-size:1rem;
  font-family: Helvetica;
  color: white;
  margin-top: 0.66rem;
  text-align: left;
  margin-bottom: 0.66rem;
}
